.carts {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 0.5em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th,
    td.price {
      font-weight: bold;
      padding-top: 1em;
    }
    th {
      text-align: right;
    }
    td.price {
      border-top: solid thin;
    }
  }
}

.cart-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  form:first-child,
  input:first-child {
    margin-right: 20px;
  }
}
